<div >
    <section class="form-container add">
        <form class="add-form">
           <h3 class="header">Add New Call</h3> 
           <div class="input-box">
            <label for="Name">Call Type</label>
            <input type="radio">
            <label for="Name">Producer</label>
            <input type="text" id="producer" >
            <label for="Name">Consumer</label>
            <input type="text" id="consumer" >
            </div>
            <div class="input-box">
                <label for="type">Topic</label>
                <input type="text" id="type" placeholder="Enter node type">
                <label for="Name">Event Produced</label>
                <input type="text" id="event">
            <input type="text" id="Event-produced" >
            </div>
            <div class="input-box">
                <label for="description">Description</label>
                <input type="text" id="description" placeholder="Call Description">
            </div>
            <button class="submit">Add Call</button>
        </form>
    </section>
    <section class="form-container import">
        <form class="import-form">
            <h3 class="header">Import Calls</h3>
            <button class="import">Upload File</button>
            <p>No file selected</p>
            <button class="submit">Import</button>
        </form>
    </section>
</div>