body{
    display: flex;
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-5 );
    justify-content:left;
    padding: 20px;
}

.app-container{
    margin-top: 0;
    margin-left: 18%;
}

router-outlet{
    flex: 1;
    transition: margin-left 0.3s ease;
}
