
.sidebar .image{ /* spacing bit pic et ktiba */
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

 }


/* ======== Sidebar ========= */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    min-width: 160px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-5); /* me tesghar side bar ella me tzid lfaza hedhi */
}

.sidebar.close{ /* ki tsaker lsidebar */
    width: 8%;
    min-width: 110px;
}

@media (max-width: 900px){
    .sidebar.close{
        width: 0;
        transition: var(--tran-5);
    }
}

 /* ======== resuable CSS ========= */
 .sidebar .text{
    font-size: 100%;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-3);
    white-space: nowrap;
    opacity: 1;
 }

 .sidebar.close .text{ /* ki tsaker lsidebar */
    opacity: 0;
}

.sidebar ul{
    padding: 0px 10px;
    
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    font-size: 20px;
}

.sidebar .view{
    font-size: 10px;
    margin-top: 30px;
    list-style: none;
    display: flex;
    color: var(--text-color);
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-2);
}

.sidebar header{
    position: relative;
}

/* taille mtaa logo */
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex; /*lktiba (visualize) li kenet taht logo twali bjanbou */
    align-items: center ;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header-text .name{
    font-weight: 600 ; /* how bold l ktiba */
    font-size: large;
}

.sidebar header .toggle{
    position: absolute;
    top: 150%;
    right: -25px; /* arrow yethat fi e5er sidebar mlfou9 */
    transform: translateY(-50px) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-3);
}

.sidebar.close li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    min-width: 10px;
    font-size: 20px;
}

.sidebar.close header .toggle{
    transform: translateY(-50px);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35%;
}

.sidebar li a{
    text-decoration: none;
    margin-left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px; /* l curve of sides mtaa hover*/
    transition: var(--tran-4);
}

.sidebar li a:hover{
    background: var(--primary-color);
    width: 100%;
}

/* loun icon, text fl hover */
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.drak .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-3);
    
}

.menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{ /*blaset kl felsa li te9leb bin light w dark mode*/
    position: absolute; /* l switch yo93edch yettalfah wahdou lbarra m sidebar */
    right: 0;
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--primary-color-light);
    transition: var(--tran-5);
}

.toggle-switch .switch{ /*l felsa en personne */
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: var(--tran-5);
}

.toggle-switch.dark .switch::before{
    left : 24px /* 9adde bch ttharek l koura mtaa transition to dark mode */
    
}