<div >
    <div class="button-container">
      <div>
          <span class="text">  CALLS MANAGEMENT</span>
          <button class="Add" routerLink="/new-call">Add new</button>
      </div>
      <div >
          <button class="Delete" (click)="deleteAllItems()">Delete All</button>
      </div>
    </div>
    <div>
        <table id="table">
            <thead>
              <tr >
                <th id="" style="width: 200px;">Producer/Issuer</th>
                <th id="" style="width: 200px;">Target/Consumer</th>
                <th id="" style="width: 100px;">Type</th>
                <th id="" style="width: 100px;">Topic</th>
                <th id="" style="width: 200px;">Event Produced</th>
                <th id="" style="width: 100px;">API</th>
                <th id="" style="width: 100px;">Description</th>
                <th id="" style="width: 100px;">Action</th>
              </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let call of calls">
                <td>{{ call.startPoint }}</td>
                <td>{{ call.endPoint }}</td>
                <td>{{ call.callType }}</td>
                <td>{{ call.topic }}</td>
                <td>{{ call.eventProduced }}</td>
                <td>{{ call.API }}</td>
                <td>{{ call.description }}</td>
                <td>
                  <button class="Delete-icon" (click)="deleteCall(call.id)">
                    <a >
                      <i class='bx bx-trash icon'></i>
                    </a>
                  </button>
                  <button class="Update-icon">
                    <a >
                      <i class='bx bx-cloud icon'></i>
                    </a>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
    </div>
</div>