th{
    font-weight: 500;
    color: var(--text-color);
    border-bottom: 1px solid var(--body-color);
    justify-content: space-between;
}

.text{
    padding: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

.Add {
    background: var(--button-color);
    color: #FFF;
    border-radius: 4px;
    border-color: var(--button-color);
    align-items: center;
    width: 100px;
}

.Export {
    background: #FFF;
    color: black;
    border-radius: 4px;
    border-color: #FFF;
    align-items: center;
    width: 100px;
}

.Delete {
    background: var(--primary-color);
    color: #FFF;
    border-radius: 4px;
    border-color: var(--primary-color);
    align-items: center;
    width: 100px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#table{
    width: 100%;
    border-color: var(--body-color);
    background-color:#FFF;
    padding: 10px;
    
}

#table .Delete-icon, .Update-icon{
    color: var(--text-color);
    background: var(--body-color);
    border-color: #FFF;
    border-radius: 4px;
    width: 50px;
    margin-left: 5px;
}

#table .Update-icon{
    background-color: var(--button-color);
    border-color: var(--button-color);
}

#table th{
    padding: 5px;
}