<div >
    <div class="button-container">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 30%;">
          <span class="text">  NODES MANAGEMENT</span>
          <button class="Add" routerLink="/new-node">Add new</button>
      </div>
      <div >
          <button class="Delete" (click)="deleteAllItems()">Delete All</button>
      </div>
    </div>
    <div>
        <table id="table">
            <thead>
              <tr>
                <th id="name">Name</th>
                <th id="Type">Type</th>
                <th id="Action">Action</th>
              </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let node of nodes">
                <td>{{ node.name }}</td>
                <td>{{ node.type }}</td>
                <td>
                  <button class="Delete-icon" (click)="delete(node.name)">
                    <a >
                      <i class='bx bx-trash icon'></i>
                    </a>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
    </div>
    
</div>