<div >
    <section class="form-container add">
        <form class="add-form">
           <h3 class="header">Add New Node</h3> 
           <div class="input-box">
            <label for="Name">Name</label>
            <input type="text" id="name" placeholder="Enter node name">
            </div>
            <div class="input-box">
                <label for="type">Type</label>
                <input type="text" id="type" placeholder="Enter node type">
            </div>
            <button class="submit">Add New Node</button>
        </form>
    </section>
    <section class="form-container import">
        <form class="import-form">
            <h3 class="header">Import Node</h3>
            <button class="import">Upload Node</button>
            <button class="submit">Import New Node</button>
        </form>
    </section>
</div>